@font-face {
    font-family: Aptos;
    src: url(fonts/aptos.ttf);
}

@font-face {
    font-family: Aptos-Extrabold;
    src: url(fonts/aptos-extrabold.ttf);
}

body {
    font-family: Aptos, Aptos-Extrabold;
    background-color: #002060;
    min-width: 1500px;
}

body::-webkit-scrollbar {
    /* vertical */
    width: 5px;
    /* horizontal */
    height: 5px;
}

body::-webkit-scrollbar-track {
    background: #002060;
}

body::-webkit-scrollbar-thumb {
    background-color: #00B0F0;
    border-radius: 20px;
}

/********** navigation bar **********/
.navbar {
    font-size: 32px;
    text-align: center;
}

.navlist {
    list-style-type: none;
    display: inline-block;
    border: solid 3px #002060;
    padding: 8px 15px 8px 15px;
    margin: 1% 0 0 0;
}

.navlist:hover {
    color: #002060;
    background-color: #00B0F0;
    border: solid 3px #00B0F0;
    border-radius: 30px;
    font-weight: bold;
    padding: 8px 15px 8px 15px;
    transition: .3s;
    font-size: 34px;
}


.link {
    text-decoration: none;
    color: white;
    margin: 2% 25px 0 25px;

}

.link2 {
    text-decoration: none;
}

/********** homepage **********/

.homemain {
    text-align: center;
    margin-top: 10%;
    font-size: 25px;
}

.hometext {
    color: white;
}

#pftitle {
    font-family: Aptos-Extrabold;
    font-size: 38px;
}

#homedesc {
    font-size: 24px;
    color: hsl(0, 0%, 82%);
}

/********** about **********/
.about {
    text-align: center;
    margin: 5% 0 0 5%;
    margin-top: 5%;
    height: 500px;
    overflow: hidden;
}

.abdesc {
    width: 700px;
    height: 500px;
    margin-left: 100px;
    margin-right: -50px;
    text-align: left;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

#abouthead {
    font-family: Aptos-Extrabold;
    color: white;
    font-size: 60px;
}

#abline {
    width: 700px;
    margin-top: -25px;
    border: solid 3px white;
    border-radius: 100px;
}

#abdesc {
    color: white;
    font-size: 20px;
    width: 670px;
}

.abimg {
    width: 500px;
    display: inline-block;
    position: relative;
    top: -90px;
}

#resume {
    text-decoration: none;
    color: #002060;
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
    background-color: #00B0F0;
    border: solid 3px #00B0F0;
    width: 120px;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
}

#resume:hover {
    color: white;
    width: 135px;
    transition: .3s;
}

/********** my project **********/
.project {
    height: 1350px;
    text-align: center;
    padding: 2%;
}

.prjsect {
    border: solid 3px hsla(196, 100%, 47%, 0);
    padding: 30px;
    height: 200px;
    width: 60%;
    display: inline-block;
    margin: 3% 0 0 0;
}

.section {
    border: solid 3px #00B0F0;
    height: 80%;
    max-width: 300px;
    margin: 2%;
}

#section1 {
    background-image: url(images/Project\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#section2 {
    background-image: url(images/Project\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#section3 {
    background-image: url(images/VTech\ logo\ thumbnail.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#section4 {
    background-image: url(images/Portfolio\ Thumb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.prjsect:hover {
    border: solid 3px #00B0F0;
    transition: 0.3s;
}

.prjsect:hover .section {
    height: 90%;
    max-width: 330px;
    margin: 0;
    transition: 0.3s;
}

.sectdesc {
    text-align: left;
    width: 58%;
    float: right;
    position: relative;
    bottom: 107%;

}

.prjsect:hover .sectdesc {
    bottom: 105%;
}

.prjhead {
    font-family: Aptos-Extrabold;
    color: white;
    width: 80%;
    text-decoration: none;
    border-bottom: solid 2px rgba(255, 255, 255, 0);

}

.prjdesc {
    color: white;
    width: 100%;
    position: relative;
    bottom: 93%;
}

.date {
    color: white;
    text-align: right;
    width: 200px;
    position: relative;
    left: 76%;
    font-weight: bold;
}

/********** course work **********/
.course {
    height: 300px;
    text-align: center;
    max-width: 1000px;
    margin: 100px auto 0 auto;
}

.coursename {
    height: 300px;
    width: 45%;
    display: inline-block;
    position: relative;
}

.class {
    color: white;
    list-style-type: none;
    font-size: 30px;
    margin: 15px 0 15px 0;
    border: solid 5px #00B0F0;
    border-radius: 20px;
    width: 200px;
    padding: 20px 0 20px 0;
    position: relative;
    left: 30%;

}

.coursevis {
    color: white;
    font-size: 40px;
    display: inline-block;
    border: solid 4px #00B0F0;
    width: 50%;
    height: 250px;
    background-image: url(images/ALL\ OF\ THE\ WEIRDEST\ ANIMAL\ CAFÉS\ IN\ SEOUL.gif);

}

/********** fix **********/
#ISP250 {
    visibility: hidden;
    position: relative;
    top: 10%;
}

/********** fix **********/
#CSC264 {
    visibility: hidden;
    position: relative;
    bottom: 65%;
}

.class:hover {
    background-color: #00B0F0;
    font-weight: bold;
    color: #002060;
    transition: .3s;
}

/********** fix **********/
#ISP250but:hover .coursevis #ISP250 {
    visibility: visible;
}

/********** contact **********/
.contact {
    margin-top: 8%;
    text-align: center;

}

#cnthead {
    font-family: Aptos-Extrabold;
    color: white;
    font-size: 60px;
}

#cntline {
    width: 700px;
    border: solid 3px white;
    border-radius: 100px;
    margin-top: -25px;
}

.cntlist {
    list-style-type: none;
    display: inline-block;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 30px;
    position: relative;
    right: 20px;
    border-bottom: solid 3px #002060;
}

.contact .cntlist:hover {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 3px white;
    transition: .2s;
}

#email {
    color: white;
    font-size: 22px;
    position: relative;
}