@font-face {
    font-family: Aptos;
    src: url(fonts/aptos.ttf);
}

@font-face {
    font-family: Aptos-Extrabold;
    src: url(fonts/aptos-extrabold.ttf);
}

body {
    font-family: Aptos, Aptos-Extrabold;
    background: linear-gradient(45deg, #002060, rgb(2, 176, 176));
    min-height: 93vh;
    /*background-color: #002060;*/
    min-width: 1500px;
    color: white;
}



body::-webkit-scrollbar {
    /* vertical */
    width: 0px;
    /* horizontal */
    height: 5px;
}

body::-webkit-scrollbar-track {
    background: #002060;
}

body::-webkit-scrollbar-thumb {
    background-color: #00B0F0;
    border-radius: 20px;
}

/********** navigation bar **********/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    font-size: 28px;
}

.navbar a {
    /*border: solid 3px #002060;*/
    border-radius: 5px;
    padding: 8px 15px;
    margin: 0 15px;
    color: white;
    text-decoration: none;
    transition: .25s;
}

.navbar a:hover {
    color: #002060;
    background-color: #00B0F0;
    border: solid 3px #00B0F0;
    border-radius: 25px;
    font-weight: bold;
    margin: 0 20px;
    padding: 8px 15px;
    font-size: 30px;
}

.navbar #select {
    color: #002060;
    background-color: #00B0F0;
    border: solid 3px #00B0F0;
    border-radius: 30px;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 30px;
}

/********** homepage **********/

.homemain {
    text-align: center;
    margin-top: 8%;
    font-size: 25px;
}

.homemain #title {
    font-family: Aptos-Extrabold;
    font-size: 38px;
}

.homemain #desc {
    font-size: 24px;
    color: hsl(0, 0%, 82%);
}

/********** about **********/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    height: 500px;
    width: 100%;
    overflow: hidden;
    animation-name: slideup;
    animation-duration: 1s;

}


@keyframes slideup {
    from {
        transform: translateY(25%);
    }
}

.about div:nth-child(1) {
    width: 600px;
    height: 500px;
    text-align: left;
}

.about h1 {
    font-family: Aptos-Extrabold;
    color: white;
    font-size: 60px;
}

.about hr {
    width: 600px;
    border: solid 3px white;
    border-radius: 100px;
}

.about p {
    color: white;
    font-size: 20px;
    width: 600px;
}

.about div:nth-child(2) {
    display: flex;
    align-self: flex-start;
    border: 3px solid white;
    height: 250px;
    width: 250px;
    margin: 40px 0 0 60px;
    border-radius: 50%;
    background-image: url(images/photo_2021-10-13_06-56-45.jpg);
    background-size: cover;
    background-position: 0 -40px;
}

.about a {
    text-decoration: none;
    color: #002060;
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
    background-color: #00B0F0;
    border: solid 3px #00B0F0;
    width: 120px;
    border-radius: 40px;
    padding: 5px 20px;
    transition: .3s;
}

.about a:hover {
    color: white;
    padding: 5px 30px;
}

/********** my project **********/
.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.project>div {
    background-color: hsl(220, 100%, 19%, .3);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    flex-direction: column;
    border: white 3px solid;
    border-radius: 10px;
    width: 80%;
    padding: 30px 0;
    margin: 30px 0;
}

div>h1,
div>h2 {
    display: flex;
    justify-content: left;
    width: 90%;
}



.project>div>a {
    border: solid 3px transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 300px;
    width: 90%;
    text-decoration: none;
    margin-bottom: 30px;
    padding: 20px;
}

.section {
    height: 230px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4%;
}

.section>img {
    border: solid 3px white;
    height: 90%;
    width: 90%;
    transition: 0.3s;
    position: relative;
}

.project a:hover {
    border: solid 3px white;
    background-color: hsla(196, 97%, 63%, 0.2);
}

.project a:hover .section>img {
    height: 100%;
    width: 100%;
}

.project a:hover .sectdesc>p {
    font-size: 17px;
    width: 535px;
}

.project a:hover .sectdesc>h1 {
    border-bottom: solid 3px white;
    font-size: 34px;
}

.sectdesc {
    width: 58%;
    display: flex;
    flex-direction: column;

}

.sectdesc h1 {
    font-family: Aptos-Extrabold;
    border-bottom: solid 2px transparent;
    color: white;
    width: 80%;
    text-decoration: none;
    border-bottom: solid 2px rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.sectdesc p {
    color: white;
    width: 500px;
    transition: 0.3s;
}


.date {
    color: white;
    position: relative;
    font-weight: bold;
    display: flex;
    justify-content: right;
}

/********** course work **********/
.course {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 250px;
    margin-right: 40px;
}

.course a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin: 15px 20px;
    border: solid 5px #00B0F0;
    border-radius: 20px;
    width: 150px;
    padding: 20px;
}

.banner {
    border: solid 4px #00B0F0;
    font-size: 40px;
    width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/ALL\ OF\ THE\ WEIRDEST\ ANIMAL\ CAFÉS\ IN\ SEOUL.gif);
    background-position: center;
    background-size: cover;
}

.banner>p {
    display: flex;
    align-items: center;
    width: 600px;
    height: 300px;
    color: white;
    font-weight: 500;
    text-align: center;
    position: absolute;
    visibility: collapse;
    text-shadow: 0 0 10px #00B0F0, 0 0 10px #002060;
}


.course a:hover {
    background-color: hsl(196, 100%, 47%);
    font-weight: bold;
    color: #002060;
    transition: .3s;
}

/********** contact **********/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.contact h1 {
    font-family: Aptos-Extrabold;
    color: white;
    font-size: 60px;
    width: 270px;
}

.contact hr {
    width: 700px;
    border: solid 3px white;
    border-radius: 100px;
}

.link {
    display: flex;
    flex-direction: row;
}

.contact a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin: 15px 35px 30px 35px;
    border-bottom: solid 3px transparent;
    transition: .2s;
}

.contact a:hover {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 3px white;
}

.contact>p {
    color: white;
    font-size: 22px;
    margin-bottom: -5px;
}