@font-face {
    font-family: Aptos;
    src: url(fonts/aptos.ttf);
}

@font-face {
    font-family: Aptos-Extrabold;
    src: url(fonts/aptos-extrabold.ttf);
}

body {
    font-family: Aptos, Aptos-Extrabold;
    background-color: #002060;
    min-width: 1500px;
    color: white;
}

body::-webkit-scrollbar {
    /* vertical */
    width: 0px;
    /* horizontal */
    height: 5px;
}

body::-webkit-scrollbar-track {
    background: #002060;
}

body::-webkit-scrollbar-thumb {
    background-color: #00B0F0;
    border-radius: 20px;
}

/********** navigation bar **********/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    font-size: 32px;
}

.navbar a {
    /*border: solid 3px #002060;*/
    border-radius: 5px;
    padding: 8px 15px;
    margin: 0 15px;
    color: white;
    text-decoration: none;
    transition: .25s;
}

.navbar a:hover {
    color: #002060;
    background-color: #00B0F0;
    border: solid 3px #00B0F0;
    border-radius: 25px;
    font-weight: bold;
    margin: 0 20px;
    padding: 8px 15px;
    font-size: 34px;
}

.navbar #select {
    color: #002060;
    background-color: #00B0F0;
    border: solid 3px #00B0F0;
    border-radius: 30px;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 34px;
}

/********** homepage **********/

.homemain {
    text-align: center;
    margin-top: 8%;
    font-size: 25px;
}

.homemain #title {
    font-family: Aptos-Extrabold;
    font-size: 38px;
}

.homemain #desc {
    font-size: 24px;
    color: hsl(0, 0%, 82%);
}

/********** about **********/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height: 500px;
    width: 100%;
    overflow: hidden;
    animation-name: slideup;
    animation-duration: 1s;

}


@keyframes slideup {
    from {
        transform: translateY(25%);
    }
}

.about div:nth-child(1) {
    width: 600px;
    height: 500px;
    text-align: left;
}

.about h1 {
    font-family: Aptos-Extrabold;
    color: white;
    font-size: 60px;
}

.about hr {
    width: 600px;
    border: solid 3px white;
    border-radius: 100px;
}

.about p {
    color: white;
    font-size: 20px;
    width: 600px;
}

.about div:nth-child(2) {
    display: flex;
    align-self: flex-start;
    border: 3px solid white;
    height: 250px;
    width: 250px;
    margin: 10px 0 0 50px;
    border-radius: 50%;
    background-image: url(images/photo_2021-10-13_06-56-45.jpg);
    background-size: cover;
    background-position: 0 -40px;
}

.about a {
    text-decoration: none;
    color: #002060;
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
    background-color: #00B0F0;
    border: solid 3px #00B0F0;
    width: 120px;
    border-radius: 40px;
    padding: 5px 20px;
    transition: .3s;
}

.about a:hover {
    color: white;
    padding: 5px 30px;
}

/********** my project **********/
.project {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div>h1,
div>h2 {
    display: flex;
    justify-content: left;
    width: 55%;
    margin: 10px;
}



.project>a {
    padding: 30px;
    display: flex;
    height: 230px;
    width: 65%;
    text-decoration: none;
    margin-bottom: 50px;
    transition: 0.3s;
}

.section {
    border: solid 3px #00B0F0;
    height: 80%;
    width: 35%;
    margin: 0 4%;
    transition: 0.4s;
    position: relative;
}

.project a:hover {
    border: solid 3px #00B0F0;
    background-color: hsl(196, 100%, 47%, 0.2);
}

.project a:hover .section {
    height: 90%;
    width: 40%;
}

.project a:hover .sectdesc>h1 {
    border-bottom: solid 2px white;
}

.sectdesc {
    width: 58%;
    position: relative;

}

.sectdesc h1 {
    font-family: Aptos-Extrabold;
    color: white;
    width: 80%;
    text-decoration: none;
    border-bottom: solid 2px rgba(255, 255, 255, 0);

}

.sectdesc p {
    color: white;
    width: 500px;
}


.date {
    color: white;
    position: relative;
    font-weight: bold;
    display: flex;
    justify-content: right;
}

/********** course work **********/
.course {
    height: 300px;
    text-align: center;
    max-width: 950px;
    margin: 100px auto 0 auto;
}

.course div:nth-child(1) {
    height: 300px;
    width: 250px;
    display: inline-block;
    margin-right: 40px;
    position: relative;
    bottom: 60px;
}

.course a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin: 15px 20px 15px 20px;
    border: solid 5px #00B0F0;
    border-radius: 20px;
    width: 150px;
    padding: 20px;
    display: inline-block;

}

.course div:nth-child(2) {
    color: white;
    font-size: 40px;
    display: inline-block;
    border: solid 4px #00B0F0;
    width: 50%;
    height: 250px;
    background-image: url(images/ALL\ OF\ THE\ WEIRDEST\ ANIMAL\ CAFÉS\ IN\ SEOUL.gif);

}

.course a:hover {
    background-color: hsl(196, 100%, 47%);
    font-weight: bold;
    color: #002060;
    transition: .3s;
}

/********** fix **********/
.course a:nth-child(1):hover .course div {
    border: solid 1px white;
    background-image: url(images/Portfolio\ Thumb.png);
}

/********** contact **********/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.contact h1 {
    font-family: Aptos-Extrabold;
    color: white;
    font-size: 60px;
    width: 270px;
}

.contact hr {
    width: 700px;
    border: solid 3px white;
    border-radius: 100px;
}

.link {
    display: flex;
    flex-direction: row;
}

.contact a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin: 15px 35px 30px 35px;
    border-bottom: solid 3px #002060;
    transition: .2s;
}

.contact a:hover {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 3px white;
}

.contact>p {
    color: white;
    font-size: 22px;
    margin-bottom: -5px;
}