@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root {
  --primary-color: #0C0C0C;
  /* --primary-color: #003366; */
}

html,
body,
#root {
  background-color: #0C0C0C;
  /* Or your --primary-color */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family: 'Geist Mono', monospace;
}