@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root {
  --primary-color: #0C0C0C;
  /* --primary-color: #003366; */
}

html,
body,
#root {
  background-color: #0C0C0C;
  /* Or your --primary-color */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family: 'Geist Mono', monospace;
}

@keyframes floaty {

  0%,
  100% {
    transform: translateY(0px) translateX(0px);
  }

  50% {
    transform: translateY(-30px) translateX(20px);
  }
}

.animate-floaty {
  animation: floaty 8s ease-in-out infinite;
}